<div class="container-fluid mat-typography">
    <div *ngIf="instrument; else loading">
        <h1 class="mat-h1 mb-1">{{ instrument.name }}</h1>
        <mat-accordion multi=true>
            <!-- Instrument Information, stored in the instrument object -->
            <mat-expansion-panel expanded=true>
                <mat-expansion-panel-header>
                    <mat-panel-title>Instrument Information</mat-panel-title>
                </mat-expansion-panel-header>

                <app-instrument-info-form #infoFormComp [instrument]="instrument"
                    (submitted)="instrumentDetailsEdited($event)"></app-instrument-info-form>

                <mat-action-row>
                    <button mat-flat-button color="primary" type="submit"
                        (click)="instrumentDetailsEdited(infoFormComp.instrumentForm.valid ? infoFormComp.instrumentForm.value : undefined)"
                        [disabled]="infoFormComp.instrumentForm.disabled || infoFormComp.instrumentForm.invalid">Submit</button>
                </mat-action-row>
            </mat-expansion-panel>
            <!-- Current Locker Location -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Current Locker</mat-panel-title>
                </mat-expansion-panel-header>
                <app-locker-info [lockerNum]="instrument.locker"></app-locker-info>

                <mat-action-row>
                    <ng-container *ngIf="instrument.locker; else hasNoLocker">
                        <button mat-flat-button color="accent" type="button">Move Locker</button>
                        <button mat-flat-button color="warn" type="button">Remove from Locker</button>
                    </ng-container>
                    <ng-template #hasNoLocker>
                        <!-- Wire this up -->
                        <button mat-flat-button color="primary" type=button>Add to Locker</button>
                    </ng-template>
                </mat-action-row>
            </mat-expansion-panel>
            <!-- Any assignments -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Assignments</mat-panel-title>
                </mat-expansion-panel-header>

                <app-assignment-history [instId]="instrument.id"></app-assignment-history>

                <mat-action-row>
                    <button mat-flat-button color="accent">Assign</button>
                </mat-action-row>
            </mat-expansion-panel>
            <!-- Purchase and Maintenance History -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Purchase and Maintenance History</mat-panel-title>
                </mat-expansion-panel-header>

                <app-cost-history [instId]="instrument.id"></app-cost-history>

                <mat-action-row>
                  <button mat-flat-button color="accent">Add Maintenance</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <ng-template #loading>
        Loading Instrument...
    </ng-template>
</div>
