<div class="container-fluid">
    <div class="row mb-2">
        <!-- Top Row Actions -->
        <div class="col">
            <button color="accent" mat-flat-button (click)="addEnsemble()">Add Ensemble</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-accordion style="width: 100%">
                <mat-expansion-panel *ngFor="let ensemble of ensembles$ | async">
                    <mat-expansion-panel-header class="right-aligned-header">
                        <!-- Title info -->
                        <mat-panel-title>
                            {{ensemble.name}} {{ensemble.term}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{ensemble.name}} Details
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!-- Details of this ensemble -->
                    <!-- We're going to delegate to a different component here -->
                    <app-ensemble-detail [ensemble]="ensemble"></app-ensemble-detail>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-paginator class="mt-1" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>