
<Modal Title=@Title OnCancel="@OnCancel" OnSave="@OnSave" SaveText="Delete" SaveClass="btn-danger">
    <h4>Do you want to delete this student?</h4>
    <form>
        <div class="form-group">
            <label for="deleteNameText">Name</label>
            <input type="text" class="form-control" id="deleteNameText" placeholder="@Student.FullName" readonly />
        </div>
        <div class="form-group">
            <label for="deleteMNumberText">M-Number</label>
            <input type="text" class="form-control" id="deleteMNumberText" placeholder="@Student.MNumber" readonly />
        </div>
    </form>
</Modal>

@functions {
    [Parameter] Student Student { get; set; }
    [Parameter] string Title { get; set; }
    [Parameter] EventCallback OnSave { get; set; }
    [Parameter] EventCallback OnCancel { get; set; }
}
