<div class="mat-app-background">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3 my-3">
                <h1>Hi {{currentUser.full_name}}</h1>
                <h3>Your info:</h3>
                <form [formGroup]="infoForm" *ngIf="currentStudent">
                    <div class="form-group">
                        <label for="fullName">Full Name</label>
                        <input type="text" formControlName="fullName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" readonly />
                        <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                            <div *ngIf="f.fullName.errors.required">Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" readonly />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mnumber">MNumber</label>
                        <input type="text" formControlName="mnumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mnumber.errors }" readonly />
                        <div *ngIf="submitted && f.mnumber.errors" class="invalid-feedback">
                            <div *ngIf="f.mnumber.errors.required">MNumber is required</div>
                            <div *ngIf="f.mnumber.errors.invalidMNumber">MNumber should be an 'M' follwed by 8 numbers</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>