<mat-toolbar color="primary">
    <ng-container *ngIf="currentUser; else loggedOut">
        <div *ngIf="!currentStudent">
            <button mat-icon-button>
                <mat-icon (click)="toggleSidebar()">menu</mat-icon>
            </button>
            <mat-divider [vertical]="true"></mat-divider>
        </div>
        <div>
            <a mat-button [routerLink]="'/'">Home</a>
            <a mat-button (click)="logout()">Logout</a>
        </div>
    </ng-container>
    <ng-template #loggedOut>
        <span style="font-size: 12px;">The UC Bearcat Bands App helps you manage the UC Bearcat Bands</span>
    </ng-template>
</mat-toolbar>


<!-- main app container -->
<alert></alert>
<router-outlet></router-outlet>