<mat-toolbar color="primary">
    <mat-toolbar-row *ngIf="currentUser">
        <button mat-icon-button>
            <!-- We need to fix this; One way would be to put the topbar and sidebar in the same place? -->
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <mat-divider [vertical]="true"></mat-divider>
        <div>
            <a mat-button [routerLink]="'/'">Home</a>
            <a mat-button (click)="logout()">Logout</a>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row style="height: 4vh">
        <span style="font-size: 12px;">The UC Bearcat Bands App helps you manage the UC Bearcat Bands</span>
    </mat-toolbar-row>
</mat-toolbar>


<!-- main app container -->
<alert></alert>
<router-outlet></router-outlet>