<mat-toolbar color="primary">
    <mat-toolbar-row *ngIf="currentUser">
        <div *ngIf="!currentStudent">
            <button mat-icon-button>
                <mat-icon (click)="toggleSidebar()">menu</mat-icon>
            </button>
            <mat-divider [vertical]="true"></mat-divider>
        </div>
        <div>
            <a mat-button [routerLink]="'/'">Home</a>
            <a mat-button (click)="logout()">Logout</a>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row style="height: 4vh">
        <span style="font-size: 12px;">The UC Bearcat Bands App helps you manage the UC Bearcat Bands</span>
    </mat-toolbar-row>
</mat-toolbar>


<!-- main app container -->
<alert></alert>
<router-outlet></router-outlet>