<h1 mat-dialog-title>Assign Instrument</h1>
<div mat-dialog-content [formGroup]="assignForm">
  <mat-form-field>
    <mat-label>Choose Ensemble</mat-label>
    <mat-select formControlName="choosen_ensemble">
      <mat-option  *ngFor="let ensemble of ensembles" [value]="ensemble">
        {{ensemble.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose Student</mat-label>
    <mat-select formControlName="choosen_student">
      <mat-option  *ngFor="let student of students" [value]="student">
        {{student.user.full_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()">Ok</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
