<p>Instruments</p>

<button mat-raised-button (click)="openForm()">
  Add
</button>

<mat-table [dataSource]="inventory" class="mat-elevation-z8">
  <ng-container matColumnDef="tag_number">
    <th mat-header-cell *matHeaderCellDef> Tag Number </th>
    <td mat-cell *matCellDef="let instrument"> {{instrument.uc_tag_number}} </td>
  </ng-container>

  <ng-container matColumnDef="kind">
    <th mat-header-cell *matHeaderCellDef> Kind </th>
    <td mat-cell *matCellDef="let instrument"> {{instrument.kind}}</td>
  </ng-container>

  <ng-container matColumnDef="condition">
    <th mat-header-cell *matHeaderCellDef> Condition </th>
    <td mat-cell *matCellDef="let instrument"> {{instrument.condition}}</td>
  </ng-container>

  <ng-container matColumnDef="assign">
    <th mat-header-cell *matHeaderCellDef> Assigned To </th>
    <td mat-cell *matCellDef="let instrument"> Me </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let instrument">
      <button mat-button>Details</button>
      <button mat-button>Edit</button>
      <button mat-button>Delete</button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</mat-table>

