<ng-container *ngIf="editTogglable">
  <mat-slide-toggle [checked]="instrumentForm.enabled" (toggleChange)="toggleEditable()" color='primary'>
    Edit
  </mat-slide-toggle>
</ng-container>

<form class="mt-2" [formGroup]="instrumentForm">
  <mat-form-field>
    <mat-select formControlName="kind" placeholder="Kind" required>
      <mat-option *ngFor="let kind of kinds" [value]="kind">
        {{kind | titlecase}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="instrumentForm.controls.kind.invalid">Kind is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="make" placeholder="Make" required>
    <mat-error *ngIf="instrumentForm.controls.make.invalid">Make is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="model" placeholder="Model" required>
    <mat-error *ngIf="instrumentForm.controls.model.invalid">Model is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select formControlName="condition" placeholder="Condition" required>
      <mat-option *ngFor="let condition of conditions" [value]="condition">
        {{condition | titlecase}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="instrumentForm.controls.condition.invalid">Condition is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="serial_number" placeholder="Serial Number" required>
    <mat-error *ngIf="instrumentForm.controls.serial_number.invalid">Serial Number is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="uc_tag_number" placeholder="Tag Number">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="uc_asset_number" placeholder="Asset Number">
  </mat-form-field>
</form>
