<div class="container-fluid">
    <div class="d-flex flex-row mb-1">
        <h4>Members</h4>
        <button mat-stroked-button class="ml-2" (click)="addStudents()">ADD STUDENTS</button>
    </div>
    <div class="row">
        <div class="col">
            <table mat-table [dataSource]="dataSource" matSort style="width: 100%">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td mat-cell *matCellDef="let enrollment"> {{ enrollment.student.user.full_name }} </td>
                </ng-container>
                <ng-container matColumnDef="instruments">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Instruments</th>
                    <td mat-cell *matCellDef="let enrollment">
                        <mat-chip-list>
                            <mat-chip style="cursor: pointer;" *ngFor="let inst of getAssignedInstruments(enrollment)"
                                routerLink="../instruments/{{inst.id}}">
                                {{ inst.name }}
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                </ng-container>
                <ng-container matColumnDef="otherAssets">
                    <th mat-header-cell *matHeaderCellDef>Other Assets</th>
                    <td mat-cell *matCellDef="let enrollment">
                        <mat-chip-list>
                            <mat-chip *ngFor="let other of getAssignedOtherAssets(enrollment)">
                                {{ other.name | titlecase }}
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let enrollment">
                        <button mat-icon-button [matMenuTriggerFor]="actionMenu">
                            <mat-icon>menu</mat-icon>
                        </button>
                        <mat-menu #actionMenu>
                            <a mat-menu-item [href]="getStudentEmail(enrollment)">EMAIL</a>
                            <button mat-menu-item>DETAILS</button>
                            <button mat-menu-item style="color: rgb(255, 0, 0);"
                                (click)="removeStudent(enrollment.id)">REMOVE</button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
        </div>
    </div>

    <!-- Actions which affect the entire ensemble -->
    <!-- To keep admins from accidently deleting an ensemble, we'll lock this behind the "danger zone" -->
    <div class="row mt-2">
        <div class="col">
            <mat-slide-toggle color="warn" (change)="toggleDangerZone($event)" class="mx-2">Enable Dangerous Actions
            </mat-slide-toggle>
            <button mat-flat-button color="warn" [disabled]="!enableDangerZone"
                (click)="deleteEnsemble()">DELETE</button>
        </div>
    </div>
</div>
