<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/dashboard'">Dashboard</a>
            <a mat-list-item [routerLink]="'./instruments'">Instruments</a>
            <a mat-list-item [routerLink]="'./uniforms'">Uniforms</a>
            <a mat-list-item [routerLink]="'./ensembles'">Ensembles</a>
            <a mat-list-item [routerLink]="'./students'">Students</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
