<mat-sidenav-container style="height: 88vh">
    <mat-sidenav id="sidebar" mode="side" [(opened)]="sidebarOpen">
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/dashboard'">Dashboard</a>
            <a mat-list-item [routerLink]="'./instruments'">Instruments</a>
            <a mat-list-item [routerLink]="'./uniforms'">Uniforms</a>
            <a mat-list-item [routerLink]="'./ensembles'">Ensembles</a>
            <a mat-list-item [routerLink]="'./students'">Students</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="p-2">
            <!-- Apply some padding to anything contained here -->
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
