<h4>PURCHASE</h4>
<ul>
  <li *ngIf="purchaseVM">
    {{ purchaseVM.invoice.date | date:'shortDate' }} - {{ purchaseVM.cost | currency:'USD' }}
    <ul *ngIf="purchaseVM.notes || purchaseVM.invoice.notes">
      <li>
        <small>{{ purchaseVM.notes || purchaseVM.invoice.notes }}</small>
      </li>
    </ul>
  </li>
</ul>
<h4>MAINTENANCE</h4>
<ul>
  <li *ngFor="let item of maintenancesVM">
    {{ item.invoice.date | date:'shortDate' }} - {{ item.cost | currency:'USD' }}
    <ul *ngIf="item.notes || item.invoice.notes">
      <li>
        <small>{{ item.notes || item.invoice.notes }}</small>
      </li>
    </ul>
  </li>
</ul>
<p><b>Accumulated Cost: </b> {{ fullReturnData?.accumulatedCost | currency:'USD' }}</p>
<!-- Placeholders below -->
<p><b>Estimated Resale Value: </b> {{ 0 | currency:'USD' }}</p>
<p><b>Estimated Cost to Replace: </b> {{ 0 | currency:'USD'}}</p>
